<% provide :title, t("home.title") %>
<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info center">
        <%= render "shared/user_info" %>
      </section>
      <section class="request_form">
        <%= render "shared/request_form" %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3 class="center"><%= t "request.feed" %></h3>
      <%= render "shared/feed" %>
    </div>
  </div>
<% else %>
<div class="row">
  <div class="col-md-12 center home">
    <h1 class="content"><%= t "home.title" %></h1>
    <p>
      <%= link_to t("home.content"), login_path, class: "btn btn-danger" %>
    </p>
    <%= link_to t("signup.btn"), signup_path, class: "btn btn-lg btn-primary" %>
  </div>
</div>
<% end %>
