<li class="content">
  <h4>
    <%= position.position %>
    <% unless position.position == "manager" %>
      <%= t "slash" %>
      <%= link_to t("destroy.button"), admin_position_path(position),
        method: :delete, data: {confirm: t("destroy.confirm")} %>
      <%= t "slash" %>
      <%= link_to t("edit.button"), edit_admin_position_path(position) %>
    <% end %>    
  </h4>
</li>
