<% provide :title, @title %>
<div class="row">
  <aside class="col-md-4 center">
    <section class="user_info">
      <p>
        <%= image_tag t("avatar"), class: "avatar" %>
      </p>
      <span><%= @user.name %></span>
      <p><%= link_to t("users.view"), @user %></p>
    </section>
    <section class="stats">
      <%= render "shared/stats" %>
    </section>
  </aside>
  <div class="col-md-8">
    <h3 class="users"><%= @title %></h3>
    <% if @users.any? %>
      <ul class="users">
        <%= render @users %>
      </ul>
      <%= will_paginate @users %>
    <% end %>
  </div>
</div>
