<% provide :title, t("noti.title1") %>
<div class="form-search">
  <%= form_tag notifications_path, method: :get do %>
    <%= label_tag :date %>
    <%= date_field_tag :date, params[:date], class: "form-control" %>
    <%= label_tag :month %>
    <%= text_field_tag :month, params[:month], class: "form-control" %>
    <%= submit_tag t("search.search"), class: "btn btn-primary" %>
  <% end %>
</div>
<%= render "shared/result_noti" %>
