<li>
  <%= image_tag t("avatar"), class: "image-avatar" %>
  <%= link_to user.name, user %>
  <div>
    <% if current_user.check_manager? &&
      current_user.profile.division.present? %>
      <% unless user.admin? || user.current_user?(current_user) ||
        user.check_manager? %>
        <%= form_for user do |f| %>
          <%= f.fields_for :profile do |profile| %>
            <%= profile.hidden_field :division_id, 
              value: current_user.profile.division.id %>
          <% end %>
          <%= f.submit t("division.add_to_description",
            description: @current_user.profile.division.descrition),
            class: "btn btn-primary btn-add" %>
        <% end %>
      <% end %>  
    <% end %>
  </div>
</li>
