<% provide :title, t("edit.title") %>
<h1><%= t "edit.content" %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @user do |f| %>
      <%= render "shared/error_messages" %>

      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>

      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control" %>

      <%= f.label :gender %>
      <%= f.select :gender, options_for_select(@sex.collect{|a, v|[a, a]},
        @user.gender) %>       

      <%= f.label :birthday %>
      <%= f.date_field :birthday, class: "form-control" %>

      <%= f.fields_for :profile, @user.profile do |profile| %>
        <%= f.label :Skill %>
        <%= profile.select :skill_id, Skill.all.collect{|skill| [skill.language,
          skill.id]} %>

        <%= f.label :descrition %>
        <%= profile.select :division_id, Division.all.collect{||
          [divison.descrition, descrition.id]} %>
      <% end %>

      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control" %>

      <%= f.label :password_confirmation, t("signup.confirm") %>
      <%= f.password_field :password_confirmation, class: "form-control" %>

      <%= f.submit t("edit.save"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
