<% provide :title, @user.name %>
<div class="row">
  <div class="col-md-4">
    <div class="user_info">
      <p>
        <%= @user.name %>
      </p>
      <p>
        <%= t "gender" %> 
        <%= @user.gender %>
      </p>        
      <p>
        <%= t "birthday" %> 
        <%= @user.birthday %>
      </p>
      <p>
        <%= t "email" %> 
        <%= @user.email %>
      </p>
      <% if @user.profile.skill.present? %>
        <p>
          <%= t "skill" %> 
          <%= @user.profile.skill.language %>
        </p>
      <% end %>
      <% if @user.profile.position.present? %>
        <p>
          <%= t("position.title") + t(:colon) %> 
          <%= @user.profile.position.position %>
        </p>
      <% end %>
      <% if @user.profile.division.present? %>
        <p>
          <%= t("position.division") + t(:colon) %> 
          <%= @user.profile.division.descrition %>
          <% if current_user.profile.position == Position.first &&
            @user.current_user?(current_user) %>
            <%= link_to t("division.add_member"), users_path %>
          <% end %>
        </p>
      <% end %>
    </div>
    <section class="stats">
      <%= render "shared/stats" %>
    </section>
  </div>
  <div class="col-md-8">
    <% if logged_in? %>
      <%= render "follow_form" %>
      <% if @user.requests.any? %>
        <h3><%= t "request.title", count: @user.requests.count %></h3>
        <ol class="requests">
          <%= render @requests %>
        </ol>
        <%= will_paginate @requests %>
      <% end %>
    <% end %>
  </div>
</div>
