<% provide :title, @user.name %>
<div class="row">
  <div class="col-md-4">
    <div class="user_info">
      <p>
        <%= @user.name %>
      </p>
      </h1>
      <p>
        <%= t "gender" %> 
        <%= @user.gender %>
      </p>        
     
      <p>
        <%= t "birthday" %> 
        <%= @user.birthday %>
      </p>
     
      <p>
        <%= t "email" %> 
        <%= @user.email %>
      </p>
     
      <p>
        <%= t "skill" %> 
        <%= @user.profile.skill.language %>
      </p>
    </div>
  </div>
    </section>
  </aside>
</div>
  <section class="stats">
    <%= render "shared/stats" %>
  </section>
</div>
<div class="col-md-8">
    <%= render "follow_form" if logged_in? %>
</div>
