<div class="col-md-6 col-md-offset-3">
  <% if (params[:from] && params[:to]).present? %>
    <% if @reports.present? %>
      <h2><%= t "search.title", size: @reports.size %></h2>
      <ul class="reports">
        <%= render @reports %>
      </ul>
    <% else %>
      <p class="center">
        <%= t "search.date" %>
        <%= params[:from] %>
        <%= t "search.to" %>
        <%= params[:to] %>
      </p>
    <% end %>
  <% else %>
    <h1><%= t "report.all" %></h1>
    <ul class="reports">
      <%= render @reports %>
    </ul>
  <% end %>
</div> 
