<% if params[:search].present? %>
  <% if @users.present? %>
    <ul class="users">
      <%= render @users %>
    </ul>
  <% else %>
    <p>
      <span> 
        <%= t "search.name" %>
      </span>
      <i>
        <%= params[:search] %>
      </i>
      <span>
        <%= t "search.email" %>
      </span>
      <i>
        <%= params[:search] %>
      </i>
    </p>
  <% end %>
<% else %>
  <h1><%= t "users.all" %></h1>
  <ul class="users">
    <%= will_paginate @users %>
    <%= render @users %>
    <%= will_paginate @users %>
  </ul>
<% end %>
