<div><%= image_tag t("avatar"), class: "avatar" %></div>
<h2><%= current_user.name %></h2>
<span><%= link_to t("users.view"), current_user %></span>
<span><%= link_to t("users.report"), reports_path %></span>
<span><%= pluralize current_user.requests.count, t("request.name") %></span>
