<% provide :title, t("users.all") %>

<div class="admin-header">
  <%= link_to t("position.manage"), admin_positions_path %>
</div>

<%= form_tag admin_users_path, method: :get do %>
  <%= text_field_tag :search, params[:search],
    placeholder: t("users.search") %>
  <%= submit_tag t("search.search") %>
<% end %>

<%= render "shared/result" %>
